* {
    padding: 0px;
    margin: 0px;
}
body {
    display: block;
  background-color: #408aff;
}
textarea {
    resize: vertical;
    height: 5%;
}
header {
    color: white;
    font-size: 5vw;
    background-color: #408aff;
    padding-bottom: 3%;
    padding-top: 3%;
}
.content1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 5%;
    background-color: #ff8a40;
}
.content1 textarea {

    flex-grow: 4;
    align-self: flex-end;
    font-size: 2vw;
    width: 100%;
}
.controll {
    display:flex;
    flex-direction: row;
    width: 100%;
}
    .controll input {
        flex-grow: 2;
        align-self: flex-start;
        font-size: 2vw;
        padding: 2%;
        width: 20%;
        text-align: center;
        border: solid 1px #fff;
    }
.bottom {
    color: white;
    font-size: 5vw;
    background-color: #408aff;
    padding-bottom: 3%;
    padding-top: 3%;
}
.separator {
    padding-top: 3%;
    width:  100%;
    background-color: white;
}
.AddTeam {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.AddTeam #team {
    flex-grow: 4;
    width: 100%;
}
.AddTeam #u1 #u2 {
    flex: 1;
    width: 30%;
}
.SelectTeam {
    display: flex;
}
.SelectTeam select {
    font-size: 4vw;
    width: 100%;
    padding: 2%;
}
.SelectStage {
    display: flex;
}
.SelectStage select {
    font-size: 4vw;
    width: 100%;
    padding: 2%;
}
.list {
    display:flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /* TODO: maybe change relation of div's  */
}
.content {

    flex-direction: column;
    flex-grow: 30;
    padding: 5%;
    background-color: #ff8a40;
}
    .content input {
      font-size: 2vw;
      padding: 2%;
      margin: 2%;
      width: 90%;
      border: solid 1px #fff;
    }
.side {
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    left:65%;
    padding:0vw;
    margin: 0%;
    background-color: #ff8a40;
}
    .side .item {
        width: 100%;
        flex-basis: 0;
        flex-grow: 10;
        padding: 2vw;
        font-size: 1.6vw;
        size:1.5vw;
    }
