* {
    padding: 0px;
    margin: 0px;
}
body {
    display: block;
  background-color: #fff;
}
header {
    font-size: 5vw;
    background-color: #408aff;
    padding-bottom: 3%;
    padding-top: 2%;
}
.separator {
    padding-top: 3%;
    width:  100%;
    background-color: white;
}
.list {
    display:flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /* TODO: maybe change relation of div's  */
}
.content {
    flex-direction: column;
    flex-grow: 30;
    padding: 5%;
    background-color: #8a40ff;
}
    .content input {
      font-size: 2vw;
      padding: 2%;
      margin: 2%;
      width: 90%;
      border: solid 1px #fff;
    }
.side {
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    left:65%;
    padding:0vw;
    margin: 0%;
    background-color: #ff8a40;
}
    .side .item {
        width: 100%;
        flex-basis: 0;
        flex-grow: 10;
        padding: 2vw;
        font-size: 1.6vw;
        size:1.5vw;
    }
